# ───── 📦 패키지/빌드 폴더 ─────
node_modules
dist
dist-ssr
dev-dist
output
.next

# ───── 📂 환경변수 파일 ─────
.env
.env.*.local
.env.local

# ───── 🧾 로그파일 ─────
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# ───── 에디터/IDE 설정 ─────
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ───── 🔧 기타 ─────
*.local
node_modules
